#canvas1 {
  /* border: 5px solid #000; */
  width: 600px;
  height: 600px;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  gap: 2rem;
}
